<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add/Edit Task</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>{{ action }} Task</h1>
    <form method="POST" action="{{ url }}">
        <label for="task">Task:</label>
        <input type="text" id="task" name="task" value="{{ task_content }}">
        <button type="submit">Save Task</button>
    </form>
</body>
</html>
